@page "/"

<PageTitle>Home</PageTitle>



<div style="position: relative; height: 55rem; width: 100rem;">
    <img src="https://static.vecteezy.com/system/resources/previews/002/910/708/non_2x/e-commerce-concept-in-flat-design-vector.jpg"
         style="height: 100%; width: 100%; object-fit: cover;"
         alt="E-commerce Concept Image" />
    <h1 style="
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      color :black;
font-weight:bold;
      text-align: center;
      z-index: 100;">
        Welcome to E Cart Web Application
    </h1>
</div>
@* Welcome to your new app. *@
